<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ervan.ta2pelacak">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".activity.StartupActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.MulaiActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.SettingActivity" android:screenOrientation="portrait" />
        <activity android:name=".activity.KeluarActivity" android:screenOrientation="portrait" />

        <service android:name=".service.LocationRetrieval" android:enabled="true" />
        <service
            android:enabled="true"
            android:name=".fcm.FirebaseInstanceIdManager">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <receiver android:name=".broadcast.LocationRetBroadcastReceiver" android:enabled="true" android:exported="true" android:label="RestartService">
            <intent-filter>
                <action android:name="com.example.ervan.ta2.pelacak.RestartService"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activity.MapsActivity"
            android:label="@string/title_activity_maps"></activity>
    </application>

</manifest>